/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include "pillzmod_pro-layouts.dtsi"

&physical_layout0 {
    transform = <&matrix_transform>;
};

&pro_micro_spi {
    status = "okay";
    cs-gpios = <&pro_micro 10 GPIO_ACTIVE_LOW>;
    shifter: 595@0 {
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <200000>;
        reg = <0>;
        #gpio-cells = <2>;
        ngpios = <8>;
    };
};

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    aliases {
        led-caps = &led_0;
        led-num = &led_1;
        led-scroll = &led_2;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led_0: led_0 {
            gpios = <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        };
        led_1: led_1 {
            gpios = <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        };
        led_2: led_2 {
            gpios = <&gpio1 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
        };
    };

    matrix_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <16>;
        map = <
            /* ==========================================================================
             * LEFT KEYWELL
             * ========================================================================== */
            // Top Row: = 1 2 3 4
            RC(2, 1) RC(1, 4) RC(0, 5) RC(2, 3) RC(4, 2)

            // Row 2: TAB Q W E R
            RC(0, 4) RC(0, 6) RC(0, 5) RC(0, 7) RC(4, 5)

            // Row 3: CAPS A S D F
            RC(0, 3) RC(2, 3) RC(4, 3) RC(1, 3) RC(5, 3)

            // Row 4: LSHFT Z X C V
            RC(1, 4) RC(1, 2) RC(3, 2) RC(2, 2) RC(0, 4)

            // Bottom Row / Inner Keys: ` LEFT RIGHT \ 5 T G B
            RC(1, 6) RC(3, 4) RC(3, 5) RC(3, 6) RC(7, 2) RC(7, 3) RC(6, 3) RC(6, 2)


            /* ==========================================================================
             * RIGHT KEYWELL
             * ========================================================================== */
            // Top Row: 7 8 9 0 -
            RC(3, 3) RC(2, 2) RC(3, 0) RC(1, 1) RC(2, 0)

            // Row 2: Y U I O P
            RC(0, 0) RC(2, 3) RC(1, 4) RC(3, 1) RC(1, 0)

            // Row 3: H J K L ;
            RC(1, 0) RC(1, 2) RC(1, 3) RC(3, 2) RC(2, 3)

            // Row 4: N M , . /
            RC(1, 0) RC(3, 3) RC(2, 3) RC(3, 1) RC(1, 2)

            // Bottom Row / Inner Keys: ' [ ] UP DN RSHFT
            RC(0, 0) RC(3, 2) RC(0, 3) RC(1, 4) RC(3, 4) RC(0, 1)


            /* ==========================================================================
             * THUMB CLUSTERS (Native Pillz)
             * ========================================================================== */
            // Left Thumb Cluster
            RC(5, 6) RC(5, 5)
            RC(3, 5)
            RC(3, 6) RC(4, 6) RC(2, 5)

            // Right Thumb Cluster
            RC(9, 6) RC(8, 5)
            RC(8, 6)
            RC(6, 6) RC(7, 5) RC(6, 5)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        col-gpios
            = <&shifter 0 GPIO_ACTIVE_HIGH> // Col 0 (SR Q0)
            , <&shifter 1 GPIO_ACTIVE_HIGH> // Col 1 (SR Q1)
            , <&shifter 2 GPIO_ACTIVE_HIGH> // Col 2 (SR Q2)
            , <&shifter 3 GPIO_ACTIVE_HIGH> // Col 3 (SR Q3)
            , <&shifter 4 GPIO_ACTIVE_HIGH> // Col 4 (SR Q4)
            , <&shifter 5 GPIO_ACTIVE_HIGH> // Col 5 (SR Q5) - Thumb Cluster
            , <&shifter 6 GPIO_ACTIVE_HIGH> // Col 6 (SR Q6) - Thumb Cluster
            , <&shifter 7 GPIO_ACTIVE_HIGH> // Right Wire 5 Jumper (SR Q7)
            , <&pro_micro 21 GPIO_ACTIVE_HIGH> // Left Wire 4 Jumper (Col6 / J9 Pin 1)
            , <&gpio1 1 GPIO_ACTIVE_HIGH>   // Right Wire 11 Jumper (nice!nano P1.01)
            ;

        row-gpios
            = <&pro_micro 7  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 0
            , <&pro_micro 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 1
            , <&pro_micro 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 2
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 3
            , <&pro_micro 6  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 4
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 5
            , <&pro_micro 5  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 6
            , <&pro_micro 3  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 7
            , <&pro_micro 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 8
            , <&pro_micro 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 9
            , <&pro_micro 1  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 10
            , <&pro_micro 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 11
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 12
            , <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 13
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 14
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Left Wire 9 Jumper (Row0 / J9 Pin 2)
            ;
    };
};
