#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* ================= LEFT KEYWELL ================= */
                &kp T      &kp N5
                &kp G      &kp B
                &kp F      &kp R
                &kp V      &kp N4                 &kp S      &kp W
                &kp RIGHT  &kp LEFT   &kp BSLH    &kp X      &kp N2
                &kp N3     &kp C      &kp A       &kp N1     &kp EQUAL
                &kp E      &kp D      &kp Z       &kp Q      &kp TAB
                                      &kp GRAVE   &kp LSHFT  &kp CAPS

                /* ================ LEFT THUMB CLUSTER ================ */
                &kp LCTRL  &kp LALT
                           &kp HOME   &kp END
                           &kp BSPC   &kp DEL

                /* ================ RIGHT THUMB CLUSTER ================ */
                &kp LWIN   &kp RCTRL
                &kp PG_UP  &kp PG_DN
                &kp ENTER  &kp SPACE

                /* ================= RIGHT KEYWELL ================= */
                &kp SQT    &kp RSHFT  &kp RBKT    &kp N6
                &kp BSLH   &kp P      &kp FSLH    &kp K      &kp I
                &kp MINUS  &kp N0     &kp SEMI    &kp COMMA  &kp N8
                &kp N9     &kp DOT    &kp LBKT    &kp DOWN   &kp UP
                &kp O      &kp L                  &kp N7     &kp M
                                                  &kp U      &kp J
                                                  &kp N      &kp H
                                                             &kp Y
            >;
        };
    };
};
